<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_INotebarService">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://127.0.0.1/Notebar/NotebarService" binding="netNamedPipeBinding"
        bindingConfiguration="NetNamedPipeBinding_INotebarService" contract="NotebarServiceReference.INotebarService"
        name="NetNamedPipeBinding_INotebarService" />
    </client>
  </system.serviceModel>
</configuration>